<p style="color: green">
  <%= notice %>
</p>
<div class="container">
  <div class="row">
    <h2>All Blogs of SudurTech 
    <% if user_signed_in? %>
<%= link_to "New blog" , new_blog_path, class:"btn btn-primary" %>
<% end %>
</h2>
  </div>
  <hr>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="row row-cols-1 row-cols-md-3 g-4">

        
          <% @blogs.each do |blog| %>
            <%= render blog %>
              <!-- <p>
                <%= link_to "Show this blog" , blog %>
              </p> -->
              <% end %>
      
      </div>
    </div>
  </div>
</div>
<!-- <% if user_signed_in? %>
<%= link_to "New blog" , new_blog_path %>
<% end %> -->